@import url("https://fonts.googleapis.com/css?family=Poppins:200, 200i, 300, 300i, 400, 400i, 500, 500i, 600, 600i, 700, 700i, 800");
    body {
    background-color: #efefef;
    background-position: center top;
    background-repeat: no-repeat;
}
.container {
    width: 1190px;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.wrap-container {
    width: 100%;
    max-width: 1290px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.header-3 {
    background-color: transparent;
}
.header-3 .header-top, .header-3 {
    background-color: #fff;
}
 .header-middle {
    background-color: #000;
}

.header-3 .header-top .header-right p, .header-3 .header-middle .header-right p {
    margin-top: .3rem;
}
.header-3 .header-top {
    margin-bottom: 0;
}
.header-3 .header-bottom {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.header-3 .header-bottom .container {
    padding-left: 0;
    padding-right: 0;
}
.header-3 .header-bottom .container::before {
    visibility: hidden;
}
.header-3 .header-bottom .container::after {
    right: 27.5rem;
}
.header-3 .header-bottom .menu>li>a {
    text-transform: uppercase;
    padding: 1.55rem 1rem;
}
.header-3 .header-bottom .menu>li>.sf-with-ul {
    padding-right: 3rem;
}
.header-3 .header-bottom .header-right p {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -.01em;
    color: #333;
    text-transform: uppercase;
    margin-right: 1rem;
}
.header-3 .header-bottom.fixed {
    width: 1290px;
    max-width: 100%}
.header-3 .header-dropdown {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.header-3 .account a {
    color: #fff;
}
.header-3 .account a:hover, .header-3 .account a:focus {
    color: #fcb842;
}
.header-3 .menu .megamenu {
    left: 0;
    right: 0;
}
.header-3 .header-top {
    font-size: 1.4rem;
}
.header-3 .header-top .header-left {
    letter-spacing: -.01em;
}
.header-3 .header-top .header-left i {
    margin-right: .8rem;
}
.header-3 .header-top .top-menu li+li {
    margin-left: 4rem;
}
.header-3 .top-menu {
    letter-spacing: 0;
}
.header-3 .header-search-extended .form-control {
    padding: .9rem 5rem .9rem 1rem;
    background-color: #fff;
    letter-spacing: -.01em;
    height: 38px;
}
.header-3 .header-search-extended .form-control::placeholder {
    color: #666;
}
.header-3 .header-search-extended .btn {
    max-width: 34px;
    height: 40px;
    font-size: 2rem;
    color: #666;
}
.header-3 .header-search-extended .header-search-wrapper {
    border-radius: 3px;
}
@media screen and (min-width: 1200px) {
    .header-3 .header-search-extended {
    max-width: 576px;
    margin-right: 10rem;
}
.header-3 .header-search .search-wrapper-wide {
    width: 576px;
}
}.header-3 .wishlist-link {
    color: #fff;
}
.header-3 .wishlist-link:hover, .header-3 .wishlist-link:focus {
    color: #fcb842;
}
.header-3 .wishlist-count {
    color: #333;
}
.header-3 .header-dropdown-link {
    display: flex;
}
.header-3 .cart-dropdown, .header-3 .wishlist, .header-3 .account {
    align-items: flex-end;
    padding-left: 3.4rem;
}
.header-3 .cart-dropdown>a p, .header-3 .wishlist>a p, .header-3 .account>a p {
    transition: color .3s;
}
.header-3 .cart-dropdown:hover>a, .header-3 .cart-dropdown:hover>a p, .header-3 .cart-dropdown:focus>a, .header-3 .cart-dropdown:focus>a p, .header-3 .cart-dropdown.show>a, .header-3 .cart-dropdown.show>a p, .header-3 .wishlist:hover>a, .header-3 .wishlist:hover>a p, .header-3 .wishlist:focus>a, .header-3 .wishlist:focus>a p, .header-3 .wishlist.show>a, .header-3 .wishlist.show>a p, .header-3 .account:hover>a, .header-3 .account:hover>a p, .header-3 .account:focus>a, .header-3 .account:focus>a p, .header-3 .account.show>a, .header-3 .account.show>a p {
    color: #fcb842;
}
.header-text {
    color: #666666;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 1.4rem;
}
.header-text i {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1;
    margin-right: 1.7rem;
}
.header-search .form-control {
    background-color: #f8f8f8;
}
.sidenav-title {
    padding-left: 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.sidenav-title::before {
    content: '\f131';
    font-family: 'molla';
    border: none;
    font-size: 2.2rem;
    line-height: 1;
    margin-left: 0;
    margin-right: 1.5rem;
}
.menu-vertical {
    background-color: #f8f8f8;
}
.menu-vertical>li>a {
    color: #333;
    font-weight: 400;
    border: none;
    padding-left: 3rem;
    padding-top: .95rem;
    padding-bottom: .95rem;
}
.menu-vertical.sf-arrows>li>.sf-with-ul {
    padding-right: 4rem;
}
.menu-vertical.sf-arrows .sf-with-ul::after {
    right: 2.8rem;
}
.menu-vertical>li:hover>a, .menu-vertical>li.show>a, .menu-vertical>li.active>a {
    color: #333;
    background-color: #fff;
}
.title {
    font-weight: 600;
    letter-spacing: -.025em;
}
.title-link {
    color: #777;
    font-weight: 400;
    letter-spacing: -.01em;
    text-transform: uppercase;
}
.title-link:hover, .title-link:focus {
    color: #fcb842;
    box-shadow: 0 1px 0 0 #fcb842;
}
.icon-boxes-container {
    padding-top: .5rem;
    padding-bottom: .9rem;
    margin-bottom: 2rem;
}
.icon-box {
    font-size: 1.4rem;
}
.icon-box-side .icon-box-icon {
    min-width: 5.4rem;
    text-align: left;
}
.icon-box-icon {
    color: #333;
}
.icon-box-side .icon-box-title {
    font-weight: 600;
}
.icon-box-side p {
    letter-spacing: -.01em;
}
.icon-boxes-separator [class*="col-"]+[class*="col-"]:before {
    height: 3.7rem;
    margin-top: -1.85rem;
    left: -4.5rem;
}
.nav-pills.nav {
    padding-top: .5rem;
}
.nav-pills.nav .nav-item+.nav-item {
    margin-left: 1.8rem;
}
.nav-pills.nav .nav-link {
    padding: .8rem .9rem;
    color: #ccc;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -.025em;
    text-transform: capitalize;
}
.nav-pills.nav .nav-link:hover, .nav-pills.nav .nav-link:focus, .nav-pills.nav .nav-link.active {
    color: #fcb842;
}
.nav-pills.nav .nav-item .nav-link.active, .nav-pills.nav .nav-item.show .nav-link {
    color: #333;
    border-bottom-color: #333;
}
.nav.nav-border-anim .nav-link:before {
    background-color: #333;
}
.carousel-with-shadow .owl-stage-outer {
    padding-top: 1rem;
}
.owl-simple .owl-nav [class*='owl-'] {
    top: 45%}
.owl-simple .owl-nav .owl-prev {
    left: -45px;
}
.owl-simple .owl-nav .owl-next {
    right: -45px;
}
.product {
    padding: .9rem;
    background-color: #fff;
}
@media screen and (min-width: 992px) {
    .product {
    margin-bottom: 2.3rem;
}
}.product-body {
    padding: 1.7rem 1rem 1rem;
}
.btn-wishlist {
    font-size: 1.6rem;
}
.btn-wishlist:hover:before, .btn-wishlist:focus:before {
    content: '\f233'}
.btn-product-icon {
    color: #333;
    background-color: #fcb842;
}
.btn-product-icon:hover, .btn-product-icon:focus {
    color: #fcb842;
    background-color: #fff;
}
.product-action-vertical {
    top: 1.1rem;
    right: 1.1rem;
}
.product-label {
    top: 1.1rem;
    left: 1.1rem;
}
.product-action {
    background-color: transparent;
}
.btn-product {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    color: #333;
    background-color: rgba(252, 184, 66, 0.95);
    text-transform: uppercase;
}
.btn-product span {
    color: #333;
    font-size: 1.4rem;
}
.btn-product:before {
    display: inline-block;
    margin-top: -.2rem;
}
.btn-product:hover, .btn-product:focus {
    color: #fcb842;
    background-color: #fff;
}
.btn-product:hover span, .btn-product:focus span {
    color: #fcb842;
    box-shadow: none;
}
.product-cat {
    color: #ccc;
    margin-bottom: .1rem;
}
.product-title {
    font-size: 1.4rem;
    line-height: 1.4;
}
.product-price {
    font-size: 1.4rem;
    margin-bottom: 0;
}
.banner-subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fcb842;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .3rem;
}
.banner-title {
    font-size: 3.6rem;
    font-weight: 600;
    letter-spacing: -.025em;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    text-indent: -.2rem;
}
.banner-price {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -.01em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1.8rem;
}
.banner-price .price {
    color: #fcb842;
    margin-left: .4rem;
}
.banner-price .off {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -.025em;
}
.banner-price.color-black {
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: -.025em;
    color: #333;
}
.banner-txt {
    margin-top: .3rem;
    font-size: 2.4rem;
    letter-spacing: -.025em;
    font-weight: 300;
    color: #e7e7e7;
}
a.banner-link {
    font-size: 1.4rem;
    letter-spacing: -.01em;
    color: #333;
    background-color: #fcb842;
    text-transform: uppercase;
    padding: .1rem 2rem;
    border-radius: 5px;
    transition: all .3s;
    font-weight: 600;
}
a.banner-link i {
    font-size: 1.5rem;
    margin-left: .5rem;
}
a.banner-link.size-lg {
    padding: .75rem 2rem;
}
a.banner-link:hover, a.banner-link:focus {
    text-decoration: none;
    color: #333;
    background-color: #fff;
}
.banner.banner-lg.align-center .banner-content, .banner.banner-sm.align-center .banner-content {
    top: 50%;
    transform: translateY(-50%);
    bottom: unset;
}
.banner-lg.content-left .banner-content {
    top: 60%;
    padding-left: .2rem;
}
.banner-lg.content-right {
    overflow: hidden;
}
.banner-lg.content-right .banner-content {
    top: 55%;
    left: unset;
    right: 2rem;
}
.banner-lg.content-right .banner-content .banner-subtitle {
    margin-right: 6.5rem;
}
.banner-lg.content-right a img {
    min-height: 160px;
    object-fit: cover;
}
.banner-lg.content-right .banner-title-img {
    margin-top: -2.6rem;
    margin-bottom: -2rem;
    padding-right: .4rem;
}
.banner-sm .banner-content {
    display: flex;
    flex-direction: column;
}
.banner-sm.content-left .banner-content {
    left: 2rem;
    top: 5rem;
    transform: translateY(0);
    align-items: flex-start;
}
.banner-sm.content-right .banner-content {
    right: 2rem;
    bottom: 2rem;
    top: unset;
    transform: translateY(0);
    align-items: flex-end;
}
.banner-sm .banner-link i {
    margin-left: .8rem;
}
.banner-sm.banner-ad.content-left .banner-content {
    left: 3rem;
}
.banner-sm.banner-ad.content-left .banner-content .banner-subtitle {
    font-weight: 300;
}
.banner-sm.banner-ad.content-right .banner-content {
    padding-top: 2rem;
    right: 3rem;
}
.banner-sm.banner-ad>a img {
    min-height: 220px;
    object-fit: cover;
}
.banner-sm.banner-ad .banner-title-img {
    margin: 0;
}
.product-banner {
    overflow: hidden;
}
.product-banner .banner-content {
    left: 3rem;
    bottom: 5rem;
    top: unset;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product-banner .banner-content.center {
    left: 50%;
    transform: translateX(-50%);
}
.product-banner .banner-subtitle {
    margin-bottom: 1rem;
    font-weight: 300;
    letter-spacing: -.025rem;
}
.product-banner .banner-price {
    font-size: 3.6rem;
    font-weight: 300;
    letter-spacing: -.025rem;
    color: #fcb842;
    margin-top: .5rem;
}
.product-banner .banner-txt {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -.025rem;
    color: #fcb842;
    margin-top: 4.5rem;
}
img.banner-title-img, .owl-carousel .owl-item img.banner-title-img {
    width: auto;
    margin-top: .5rem;
    margin-bottom: .3rem;
}
@media screen and (min-width: 992px) {
    .games-soon .col-lg-5 {
    flex: 0 0 40%;
    max-width: 40%}
.games-soon .col-lg-7 {
    flex: 0 0 60%;
    max-width: 60%}
}.games-banners-slider {
    max-width: 456px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 1.5rem;
}
@media screen and (min-width: 992px) {
    .games-banners-slider {
    margin-top: 0;
}
}.games-banners-slider .banner {
    margin-bottom: 1.5rem;
}
.cta-horizontal-box {
    padding: 3.7rem 3rem;
}
.cta-horizontal-box .cta-title {
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: -.01em;
    text-transform: uppercase;
}
.cta-horizontal-box .cta-desc {
    line-height: 1.4;
}
.cta-horizontal-box .form-control {
    margin-right: 0;
    background-color: #f8f8f8;
}
.cta-horizontal-box .btn:not(.btn-block) {
    min-width: 140px;
}
.cta-horizontal-box .btn {
    color: #333;
    text-transform: uppercase;
}
.cta-horizontal-box .btn i {
    margin-left: .3rem;
}
.cta-horizontal-box .btn:hover, .cta-horizontal-box .btn:focus {
    color: #fcb842;
}
.cta-horizontal-box .input-group .form-control {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.cta-horizontal-box .input-group-append .btn {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
@media screen and (min-width: 992px) {
    .cta-horizontal-box {
    padding-left: 7rem;
    padding-right: 7rem;
}
}.cta-horizontal-box form {
    width: 100%;
    max-width: 550px;
}
.blog-posts .heading {
    padding-bottom: .5rem;
}
.blog-posts .entry {
    font-size: 1.4rem;
    background-color: #fff;
    margin-bottom: 2rem;
    overflow: hidden;
    transition: all .35s ease;
}
.blog-posts .entry:hover, .blog-posts .entry:focus {
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.025), -2px 3px 7px rgba(0, 0, 0, 0.025);
}
.blog-posts .entry-meta {
    margin-bottom: .6rem;
}
.blog-posts .entry-media {
    margin-bottom: 0;
}
.blog-posts .entry-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    margin-bottom: 0;
}
.blog-posts .entry-body {
    padding: 1.5rem 2rem 2rem;
}
.blog-posts .entry-content p {
    margin-bottom: .6rem;
}
.blog-posts .read-more {
    font-size: 1.4rem;
    letter-spacing: 0;
    padding-bottom: 0;
    text-transform: capitalize;
}
.footer-middle {
    padding-top: 5rem;
}
.footer-middle .row>div:not(:first-child) {
    padding-left: 6rem;
}
@media screen and (min-width: 768px) {
    .nav-pills.nav-big .nav-link {
    font-size: 2.2rem;
}
}@media screen and (min-width: 992px) {
    .nav-pills.nav-big .nav-link {
    font-size: 2.4rem;
}
.blog-posts .entry {
    margin-bottom: 3rem;
}
}@media screen and (min-width: 1200px) {
    body {
    background-image: url("../../images/demos/demo-19/bg-1.jpg");
}
}@media screen and (max-width: 1280px) {
    .header-3 .header-bottom .container {
    padding-left: 15px;
    padding-right: 15px;
}
.header-3 .header-bottom {
    max-width: 100%}
}@media screen and (max-width: 991px) {
    .footer-middle {
    padding-top: 5rem;
}
.footer-middle .row>div {
    padding-left: 3rem !important;
}
}
/*# sourceMappingURL=demo-19.css.map */
